{% extends "gitology.html" %} 
{% load clevercsstag %}
{% block title %}Gitology{% endblock %}
{% block extra_style %}
{{ block.parent.content }}
{% clevercss %}
#content:
    h3.post-title:
        background: url(/static/icon_arrow.gif) no-repeat left
        padding-left: 18px
        margin-left: -18px

    h2.date-header:
        font-size: 12px

    hr: 
        color: #eee
        background: #eee
        border-top: 1px dotted

#action_header a:
    background: url(/static/feed-icon-16.gif) no-repeat left
    padding-left: 20px
    border-bottom: 0px
    color: #555

#sidebar a:
    border-bottom: 0
    color: #888 

    &:hover:
        border-bottom: 1px dotted


#sidebar ul.archive-list li:
    background: url(/static/bullet.png) no-repeat left
    line-height: 1.3
    padding-left: 18px
    
h2.blog-title:
    padding-top: 5px
    padding-bottom: 15px
    border-top: 1px dotted #ddd

pre.literal-block:
    color: #954545;
    background: #fcfcfc;
    border: 1px solid #f1f1f1;
    padding: 5px 5px;
    width: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Courier New, monospace;
    font-size: 11px;
    overflow: auto;

{% endclevercss %}
{% endblock %}
{% block top_action %}
<a type="application/rss+xml" href="/gitology/feeds/latest/">Subscribe</a>
{% endblock %}
{% block extra_head_early %}
<link rel="alternate" type="application/rss+xml"  href="/blog/feeds/latest/" title="RSS Feed for Amit Upadhyay's blog">
{% endblock %}
{% block sidebar_late %}
<div class="box">
    <div class="title">Posts by categories</div>
    <div class="body">
      <ul class="archive-list">
            {% for label in blog_data.labels.values %} 
                <li><a href="/gitology/labelled/{{ label.document.meta.slug }}/" title="{{ label.document.meta.description }}">{{ label.document.meta.title }}</a></li>
            {% endfor %}
      </ul>
    </div>
</div>
{% endblock %}
