{% extends "blog/gitology/base.html" %}
{% load paginator lookup %}
{% block content %}
{% for post in post_list %}
{% ifchanged %}
  <h2 class="date-header">{{ post.document.meta.posted_on }}</h2>
{% endifchanged %}
  <div class="post">
    <h3 class="post-title">
	 {{ post.document.meta.title }}
    </h3>
    
     
    <div class="post-body">
    
    <p></p><div style="clear: both;"></div>
    {{ post.document.index|safe }}
    <div style="clear: both; padding-bottom: 0.25em;"></div>
    </div>
    {% if post.labels %}
    <p>
        Label{{ post.labels|length|pluralize }}: 
        {% for label in post.labels %}
            <a href="/gitology/labelled/{{ label.document.meta.slug }}/" title="{{ label.document.meta.description }}">
                {{ label.document.meta.title }}</a>
        {% endfor %}
    </p>
    {% endif %}
    <p class="post-footer">Posted by Amit on 
    <a href="{{ post.document.meta.url }}" title="permanent link">{{ post.document.meta.posted_on }}</a> |
    <a href="{{ post.document.meta.url }}#comments">{{ post.document.replies.count }} comment{{ post.document.replies.count|pluralize }}</a>
    </p>
  
  </div>
  <!-- End .post -->

  <hr>
  {% endfor  %}
<div style="clear: both">{% paginator %}</div>
{% endblock %}
