# rename this file to local_settings.py
DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASE_ENGINE = ''           
DATABASE_NAME = ''            
DATABASE_USER = ''           
DATABASE_PASSWORD = ''   
DATABASE_HOST = ''      
DATABASE_PORT = ''     

EMAIL_HOST_USER = 'UR_GMAIL_ACCNT@gmail.com'
EMAIL_HOST_PASSWORD = 'UR_GMAIL_PASSWD'
 
LOCAL_INSTANCE = True

