{% extends "blog/base.html" %}
{% load paginator lookup %}
{% block title %}{{ blog_data.name }}{% endblock %}
{% block content %}
<h1>{{ blog_data.name }}</h1>
<h3>Labels:</h3>
<ul>
{% for label in blog_data.labels.values %}
    <li><a href="/{{ blog_data.prefix }}labelled/{{ label.name }}/">{{ label.name }}</a>: {{ label.posts|length }}</li>
{% endfor %}
</ul>
<h3>Posts</h3>
{% for post in post_list %}
    {% with blog_data.posts|lookup:post as post %}
        <div class="post">
            <h4>{{ post.document.meta.title|safe }}</h4>
            <div>{{ post.document.index|safe }}</div>
        </div>
    {% endwith %}
{% endfor %}
{% paginator %}
{% endblock %}
