{% extends "wiki/base.html" %}
{% block title %}{{ document.meta.title }}{% endblock %}
{% block content %}
{{ document.index|safe }}
<h4>Comments</h4>
{% if document.replies.count %}
<ul>
    {% for comment in document.replies %}
    <li>
    <div class="comment-body">
        {{ comment.index|safe }}
        <br>
        <a href="{{ comment.meta.author_url }}">{{ comment.meta.author_name }}</a>
    </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no comments, be the first to comment.</p>
{% endif %}
    <h3>Enter Comment</h3>
    <form method="post" action=".">
        <table>{{ form }}</table>
        <input type="submit" value="Post Comment">
    </form>
</div>
{% endblock %}
